/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: #000 url('imagenes/entrada.jpeg') no-repeat center bottom / cover;
}

header {
    background-color: #000;
    color: #fff;
    position: relative;
}

header:after {
    content: "";
    display: block;
    height: 3px;
    background: #f0e;
    box-shadow: 0 0 10px #f0e, 0 0 20px #f0e, 0 0 30px #f0e, 0 0 40px #f0e;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, background 0.7s;
}

img:hover {
    transform: scale(1.6);
    transition: all 0.5s;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img.logo {
    width: 200px;
    margin-right: 1rem;
    display: block;
}

#botones ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    transform: scale(1.3);
}

#botones ul li {
    padding: 0 3rem;
}

#botones ul li a {
    padding: 0.5rem 1rem;
    background: #f0e;
    border-radius: 5px;
    box-shadow: 0 0px 3px rgb(255, 0, 212);
}

#botones ul li a:hover {
    background: #000000;
    color: #f0e;
}

.idioma {
    display: flex;
    align-items: center;
    margin: 2%;
}

.idioma select {
    background: transparent;
    border: 1px solid #f0e;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
}

/* Estilos del formulario */
.formulario {
    max-width: 600px;
    margin: 200px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: color 0.3s, background 0.7s;
}

#envio {
    background-color: #000;
    color: white;
}

#envio:hover {
    background: #f0e;
    transition: color 0.3s, background 0.7s;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: 3px solid #000000;
    border-radius: 20px;
    font-size: 16px;
}

footer {
    color: #fff;
    background-color: transparent;
    text-align: center;
    padding: 2rem 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}

.footer-section a {
    margin-right: 1rem;
}

.footer-section img {
    width: 60px;
    margin-right: 0.5rem;
}

/* Transiciones */
.formulario input:focus, .formulario textarea:focus {
    transform: scale(1.1);
    transition: all 1s;
}

/* Estilos responsivos */

/* Móviles  */
@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .logo-title img.logo {
        width: 150px;
    }

    #botones ul {
        flex-direction: column;
        transform: scale(1);
    }

    #botones ul li {
        padding: 1rem 0;
    }

    .idioma {
        margin: 1rem 0;
    }

    .formulario {
        margin: 50px auto;
        padding: 10px;
    }

    .footer-content {
        flex-direction: column;
        gap: 1rem;
    }
}

/* Tablets  */
@media (min-width: 601px) and (max-width: 900px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .logo-title img.logo {
        width: 175px;
    }

    #botones ul {
        flex-direction: row;
        transform: scale(1.1);
    }

    #botones ul li {
        padding: 0 2rem;
    }

    .idioma {
        margin: 1rem 0;
    }

    .formulario {
        margin: 100px auto;
        padding: 15px;
    }

    .footer-content {
        flex-direction: row;
        gap: 1rem;
    }
}

/* Ordenadores  */
@media (min-width: 901px) {
    .header-content {
        flex-direction: row;
        text-align: left;
    }

    .logo-title img.logo {
        width: 200px;
    }

    #botones ul {
        flex-direction: row;
        transform: scale(1.3);
    }

    #botones ul li {
        padding: 0 3rem;
    }

    .idioma {
        margin: 2%;
    }

    .formulario {
        margin: 200px auto;
        padding: 20px;
    }

    .footer-content {
        flex-direction: row;
        gap: 2rem;
    }
}
